@using AlmaIt.Dotnet.Heroes.Client.Components
@inherits AlmaIt.Dotnet.Heroes.Client.Pages.LoginPageBase
@page "/login"

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Login</li>
  </ol>
</nav>

<TopAlertMessage Message="@this.LoginMessage" AlertType="@this.GetAlertType" />

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="form-row col-md-4">
            <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputName" class="sr-only">Username</label>
            <input type="text" id="inputName" class="form-control" placeholder="Username" required autofocus bind="@this.User.UserName"/>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required bind="@this.User.Password"/>
            <!-- <div class="checkbox mb-3">
                <label>
                <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div> -->
            <button class="btn btn-lg btn-primary btn-block" onclick="@(async () => await this.SignIn())">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
        </div>
    </div>
</div>