@using AlmaIt.Dotnet.Heroes.Client.Components
@using AlmaIt.Dotnet.Heroes.Client.ViewModel.Enumeration
@inherits AlmaIt.Dotnet.Heroes.Client.Components.Settings.UserListBase

<TopAlertMessage Message="@this.Message" AlertType="@this.MessageType"/>

@if (this.Users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-sm table-hover">
        <thead>
            <th scope="col">User Name</th>
            <th scope="col">Claim list</th>
            <th scope="col"></th>
        </thead>
        <tbody>
            @foreach (var user in this.Users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@String.Join(";", user.Claims)</td>
                    <td><button class="btn btn-default" onclick="@(async () => await DeleteUser(user.Name))">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}