@using AlmaIt.Dotnet.Heroes.Shared.Models
@using AlmaIt.Dotnet.Heroes.Shared.Enumeration
@using AlmaIt.Dotnet.Heroes.Client.Converters
@inherits AlmaIt.Dotnet.Heroes.Client.Components.EditComicBase


<div class="alert alert-secondary" role="alert">
    <h4>Edit Comic Book details</h4>
    <div class="form-row">
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="EditTitle">Title</span>
                </div>
                <input type="text" class="form-control" aria-describedby="EditTitle" bind="@(this.EditedComicBook.Title)" />
            </div>
        </div>
        <div class="col-1">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="EditIssue">Issue</span>
                </div>
                <input type="text" class="form-control" aria-describedby="EditIssue" bind="@(this.EditedComicBook.IssueNumber)" />
            </div>
        </div>
        <div class="col-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="EditParution">Parution</span>
                </div>
                <input type="date" class="form-control" aria-describedby="EditParution" bind="@(this.EditedComicBook.ParutionDate)" format-value="yyyy-MM-dd" />
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="EditSerie">Related to</span>
                </div>
                <select class="form-control" aria-describedby="EditSerie" bind="@(this.selectedComicSerie)">
                <option value="0">-- Select related Serie --</option>
                    @foreach (var comicSerie in this.comicSerieList)
                    {
                        <option value="@comicSerie.Id">@comicSerie.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-auto">
            <div class="form-group">
                <label for="EditBookStatusOption">Where does this Comic Book belong ?</label><br/>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="EditBookStatusOption" id="EditOptionCollection" checked="@(this.selectedBookStatus == ComicBookStatus.Collection)" onchange="@(() => this.selectedBookStatus = ComicBookStatus.Collection)" />
                    <label class="form-check-label" for="EditOptionCollection">Collection</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="EditBookStatusOption" id="EditOptionWishlist" checked="@(this.selectedBookStatus == ComicBookStatus.Wishlist)" onchange="@(() => this.selectedBookStatus = ComicBookStatus.Wishlist)" />
                    <label class="form-check-label" for="EditOptionWishlist">Wishlist</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="EditBookStatusOption" id="EditOptionNone" checked="@(this.selectedBookStatus == ComicBookStatus.None)" onchange="@(() => this.selectedBookStatus = ComicBookStatus.None)" />
                    <label class="form-check-label" for="EditOptionNone">Neither</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Serie">Tags</span>
                </div>
                <select class="form-control" aria-describedby="Serie" bind="@(this.SelectedTag)">
                <option value="">-- Select related Serie --</option>
                    @foreach (var tag in this.objectTagList)
                    {
                        <option value="@tag.Name" style="background-color: @tag.Color.ToHtml()">@tag.Name</option>
                    }
                </select>
                <div class="input-group-apend">
                    <button class="btn btn-default" onclick="@(() => this.AddTagSelected())">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-auto">
            <div class="form-group">
                @foreach (var comicBookTags in this.EditedComicBook.Tags)
                {
                    <span class="badge badge-primary"data-toggle="tooltip" data-placement="bottom" title="Click to remove" 
                        onclick="@(() => this.RemoveTag(comicBookTags.Name))" style="cursor: pointer; background-color: @comicBookTags.Color.ToHtml()">
                        @comicBookTags.Name
                    </span>
                }
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-auto">
            <button class="btn btn-default" onclick="@(async () => await this.EditionCompleted(false))">Cancel</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-default" onclick="@(async () => await this.UpdateComicBook())">Save</button>
        </div>
    </div>
</div>